ROTARY_API_BASE_URL = https://www.textjacob.com
ROTARY_AUTH_BASE_URL = https://www.textjacob.com
ROTARY_HOSTED_SIGN_IN_URL =
ROTARY_URL_SLASH = /
ROTARY_CLERK_PUBLISHABLE_KEY = pk_test_YOUR_CLERK_PUBLISHABLE_KEY
ROTARY_CLERK_FRONTEND_API = clerk.textjacob.com
ROTARY_SENTRY_DSN =
ROTARY_BUNDLE_IDENTIFIER = com.theinterpretingapp.rotaryapp
PRODUCT_NAME = Rotary
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited)
